{& extends "layout.html" &}
{% block title %}ログイン{% endblock %}
{% block content %}
<h1 class="mb-4">ログイン</h1>
<form method="POST" class="row g-3">
    <div class="col-12">
        <input type="text" name="username" class="form-control" placeholder="ユーザ名" required>
    </div>
    <div class="col-12">
        <input type="password" name="password" class="form-control" placeholder="パスワード" required>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">ログイン</button>
    </div>
</form>
{% endblock %}